button {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: large;
}
.container {
    display: grid;
    grid-template-columns: 320px 80px;
    grid-template-rows: 100px auto;
    width: 800px;
    height: 400px;
}
.screen {
    grid-column: 1 / span 2;
    margin-bottom: 0;
}
textarea {
    resize: none;
    width: 500px;
    height: 40px;
}
.numbers {
    display: grid;
    margin-right: 10px;
    grid-template-columns: auto auto auto;
}
#digits-0 {
    grid-column: 1 / span 3 ;
}
.magic {
    display: grid;
    grid-template-columns: auto auto;
}
#divide {
    grid-column: 1/ 3;
}
#multiply {
    grid-column: 1/span 2;
}
#equal {
    grid-column: 1 / 3;
}
