.button {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: large;
}
.operator {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: large;
}
.container {
    display: grid;
    grid-template-columns: 320px 80px;
    grid-template-rows: 100px auto;
    width: 800px;
    height: 400px;
}
.screen {
    grid-column: 1 / span 2;
    margin-bottom: 0;
}
textarea {
    resize: none;
    width: 500px;
    height: 40px;
    text-align: right;
}
.numbers {
    display: grid;
    margin-right: 10px;
    grid-template-columns: auto auto auto;
}
.magic {
    display: grid;
    grid-template-columns: auto auto;
}
#input {
    width: 500px;
    height: 40px;
}
.equal-sign {
    grid-row:  span 2;
}